#backgroundimage{
    background-image: url('background.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
#myCanvas{
    background-color:white ; 
    border:1px solid #d3d3d3;
}
#bear{
    position: absolute;
    top: 600px;
    left: 30px;
}
.btn:hover {
    background: #dddddd;
    color: #FFFFFF;
}	
